body {
  margin: 0;
  padding: 0%;
  font-family: 'Inter', sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

.dashboard-container {
  display: flex;
}

.tab:hover {
  background-color: #777;
}

/* Main content area */
.content {
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.header h1 {
  font-size: 25px;
}
.header p{
  font-size: 18px;
  font-weight: 600;
}

.icons-container {
  display: flex;
  gap: 15px; 
  align-items: center;
}

.notification-icon, .profile-icon {
  font-size: 25px; 
}

.main-content {
  display: flex;
  gap: 20px;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-section {
  width: 50%;
}

.combined-summary-card {
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 18px;
  text-align: center;
  color: white;
}
.summaryCardHeader{
  font-weight: 700;
  padding-bottom: 10px;
}

.summaryCardSubHeader{
  font-weight: 400;
  font-size: 25px;
}

.this-weeks-consumption {
  width: 100%;
  max-width: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.biggestEaters {
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 60vh;
}

.biggestEatersHeader{
  padding: 18px;
  color: white;
}
.biggestEaterItems{
  background-color: white;
  flex-grow: 1;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.BiggestEaterItem{
  padding: 10px;
  border: 1px solid #333;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  background-color: #f4f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon{
  border-radius: 100%;
  background-color: #333; 
  color: white;
  text-align: center;
  width: 64px;
  margin-right: 12px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.wattage{
  text-align: right;
}

.devicesSection {
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  min-height: 100%;
}

.mainHeader{
 
  padding-left: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;

}
.devicesSectionHeader{
  padding: 20px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.devicesSectionItems{
  background-color: white;
  flex-grow: 1; 
  padding: 20px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  overflow-y: auto;
}

.deviceItem{
  padding: 10px;
  border: 1px solid #333;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  background-color: #f4f3f3;
}

/* Styling for battery percentage (color logic) */
.low-battery {
  color: red;
}

.high-battery {
  color: green;
}
.icons-container img {
  cursor: pointer;
}


