.sidebar-container {
  background-color: #313131;
  width: 196px;
  height: 100vh;
  color: white;
}

.brand-name {
  padding: 16px;
  font-size: 30px;
  margin-bottom: 30px;
}

.nav-link-container {
  display: block;
}

.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 16px;
}

.nav-link:hover {
  transition: 0.3s;
  background-color: #FFFFFF20;
}

.active-link {
  background-color: #FFFFFF20;
}

.logout-btn {
  color: white;
  cursor: pointer;
  padding: 0px 16px;
}